@use 'variaveis';

.event {
    padding: 80px 0;

    &--party {
        background-image: linear-gradient(to bottom, variaveis.$rubro, variaveis.$orange1);
    }

    &--foods {
        background-image: linear-gradient(to bottom, variaveis.$orange1, variaveis.$orange2);
    }

    &--music {
        background-image: linear-gradient(to bottom, variaveis.$orange2, variaveis.$brown);
    }

    &--kids {
        background-image: linear-gradient(to bottom, variaveis.$brown, variaveis.$rubro);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
    }

    &__image {
        max-width: 360px;
        margin: 10px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
            text-align: justify;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-bottom: 16px;
        }
    }
}